colorama==0.2.7
cov-core==1.7
coverage==3.7.1
docopt==0.6.1
docopts==0.6.1
egtest==0.1.0
flake8==2.1.0
mccabe==0.2.1
mock==1.0.1
pep8==1.4.6
py==1.4.20
pyflakes==0.7.3
pytest==2.5.2
pytest-cov==1.6
six==1.6.1
tox==1.7.0
virtualenv==1.11.4
wheel==0.22.0
